<?xml version="1.0"?>

<model>
  <name>cessna_artificial_plane</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Atharva Umbarkar</name>
    <email>atharvaumbarkar1@gmail.com</email>
  </author>

  <description>
    artificial plane for simulating cessna plane surface
  </description>
</model>
